body
  background: url($crowdplaces_images_path+'bg.png')

  #page_content
    .container
      +grid-system(16)
      padding: 10px 10px 30px 10px
      background: $crowdplaces_white
      .main
        padding-top: 17px
        +grid(12)
      .sidebar
        +grid(4)
        +omega

      .list
        float: left

      .list_title
        .title
          h2
            font-family: "Candal"
            font-size: 20px
      .projects
        padding-top: 20px
  #logos_container
    background: $crowdplaces_white
  #logos
    +grid-container
    +grid-system(16)
    +border-radius(8px)
    padding: 0 10px 30px 10px
    height: 40px
    .multide
      +grid(2)
      +grid-suffix(4)
      a
        margin-left: 10px
    .comum
      +grid(3)
      +grid-suffix(3)
      a
        float: left
        margin-top: 5px
        margin-left: 10px
    .power
      +grid(4)
      +grid-prefix(12)
      a
        float:  right
  #partners_container_container
    background: url($crowdplaces_images_path+'bg_paint.png') bottom center no-repeat, url($crowdplaces_images_path+'bg.png'), url($crowdplaces_images_path+'bg_partners.png') repeat-x
    #partners_container
      #partners
        background: url($crowdplaces_images_path+'bg_paint.png') bottom center no-repeat, url($crowdplaces_images_path+'bg_partners.png') repeat-x
        +grid-system(16)
        padding: 0 10px 0 10px
  #crowdmap_container
    background: $crowdplaces_gray url($crowdplaces_images_path+'bg.png')
    #crowdmap
      +grid-system(16)
      padding: 0 10px
      background: $crowdplaces_gray
      +clearfix
      h2
        +grid(5)
        +grid-prefix(1)
        padding-top: 20px
        padding-bottom: 20px
        font-family: "Candal"
        font-size: 48px
      .map
        +grid(9)
        +grid-prefix(1)
        padding-top: 20px
        padding-bottom: 20px
        iframe
          border: 5px solid $crowdplaces_pink
          +border-radius(4px)
