body
  background: $crowdplaces_gray url($crowdplaces_images_path+'wallpaper.jpg') center 82px no-repeat

  #page_content
    background: url($crowdplaces_images_path+'bg.jpg')
    .container
      +grid-system(16)
      padding: 10px 10px 40px 10px

      .main
        padding-top: 17px
        +grid(12)
      .sidebar
        +grid(4)
        +omega

      .list
        float: left

      .list_title
        .title
          h2
            font-family: "Candal"
            font-size: 20px
      .projects
        padding-top: 20px
  #logos_container
    background: $crowdplaces_white
  #logos
    +grid-container
    +grid-system(16)
    +border-radius(8px)
    padding: 0 10px 30px 10px
    height: 40px
    .multide
      +grid(2)
      +grid-suffix(4)
      a
        margin-left: 10px
    .comum
      +grid(3)
      +grid-suffix(3)
      a
        float: left
        margin-top: 5px
        margin-left: 10px
    .power
      +grid(4)
      +grid-prefix(12)
      a
        float:  right
  #partners_container_container
    //background: $crowdplaces_white
    //line-height: 4px
    background: url($crowdplaces_images_path+'bg_partners.png') repeat-x
    #partners_container
      //border-top: 1px solid $crowdplaces_ice
      background: url($crowdplaces_images_path+'bg_paint.png') bottom center no-repeat
      #partners
        +grid-system(16)
        padding: 0 10px 0 10px
