h2 Entonces, ¿Cuando envío mi proyecto este aparece en el sitio web?
p En realidad, no. Nosotros seleccionamos los proyectos que aparecerán en UrbanKIT. Llámamos esto un proceso de curatoría. Nuestra intención está en que sólo publicamos proyectos que están bien presentados para asegurarnos que tienen posibilidades de alcanzar la meta de financiamiento. Pero no te preocupes: un proyecto puede ser increíble por distintos motivos y somos abiertos de mente.
h2 ¿Qué tipos de proyectos son aceptados en UrbanKIT?
p Estamos abiertos a incluir proyectos que hacen de los barrios un mejor lugar. Hay muchas maneras de hacer esto que van más allá de nuestra imaginación. Aquí están nuestras categorías: Cultura, Aprendizaje, Producción, Recreación, Movilidad, Medioambiente y lo Inesperado.
p UrbanKIT no es un sitio para levantar recursos para organizaciones sin fines de lucro en general.  Nos enfocamos en proyectos urbanos. Si un proyecto de barrio es liderado por una organización sin fin de lucro, ¡No hay problema! Lo que queremos decir es que sólo aceptamos proyectos con un inicio y término bien definido. Si quieres que un artista pinte un mural en la fachada a la calle de tu tienda,  eres más que bienvenido a compartir tu proyecto. Pero UrbanKIT no es el lugar indicado para financiar operaciones de negocios. Preparar y plantar una huerta orgánica, es perfecto. Los costos de operación para mantener un jardín funcionando durante años, no.
p Todos los proyectos deben ofrecer recompensas.  UrbanKIT es un lugar de intercambio. Si no crees que las recompensas son una parte fundamental de tu proyecto, quizás UrbanKIT no sea el mejor lugar para tu proyecto. Piensa bien que puedes ofrecerles a  quienes impulsan tu proyecto. Pero recuerda: sorteos, retornos financieros o  participación en el capital de  una empresa no está permitido.
h2 ¿Aún tienes preguntas?
p Siempre puedes mandarnos un comentario #{mail_to t('site.email.contact'), "acá", :target => :_blank}.
