h2 So I just submit my project and it appears on the website? 
p
  | Actually, no. We 
  strong select the projects
  |  that appear on UrbanKIT. We call this the curation process. Our intention is to only publish projects that are well presented to make sure they have the best chance of getting full funding. But don’t you worry: we are very open about what makes a project awesome
h2 What types of projects does UrbanKIT accept?
p We are open to projects that make neighborhoods more awesome. There are a lot of ways to do this that are beyond our imagination. Here are our categories: Culture, Learning, Production, Recreation, Mobility, Environment, and the Unexpected.
p UrbanKIT is not a site for general non-profit fundraising. We are focused on urbanism projects. If a cool neighborhood project is led by a non-profit, great! But the key is that the project and the funds raised are dedicated to improving a neighborhood space.
p We do not finance companies, only projects. If your project will generate money, no problem! What we mean is that we only accept projects with a well defined beginning and end. If you want an artist to paint a mural on the street outside your store, you are more than welcome to share your project. But UrbanKIT is not the right place for financing business operations. Preparing and planting a blossoming vegetable garden - perfect! Ongoing maintenance for keeping the garden blossoming over the years - nope.
p All projects have to offer rewards. UrbanKIT is a form of exchange. If you do not think rewards are a fundamental part of your project, perhaps UrbanKIT is not the best solution for your project. Think hard about what you can give back to the people who are boosting you. But remember: raffles, financial returns and company equity are not allowed. 
h3 Still left wondering about something?
p You can always send us a note #{mail_to t('site.email.contact'), "here", :target => :_blank}.
