h2 Como funciona el Financiamiento Colaborativo
h3 La fórmula mágica: recompensas increíbles
p Creemos que la mejor manera de inspirar a otros a impulsar tu proyecto es ofreciendo recompensas atractivas y creativas. A todo el mundo le gustan las ediciones limitadas, los objetos únicos, las experiencias distintas y el sentirse parte de un proyecto ciudadano. Tómate cierto tiempo maquinando recompensas entretenidas y la gente se verá atraída a tu proyecto.
h3 ¿Cómo funciona el 'todo o nada'?
p Un proyecto sólo se financia cuando alcanza la meta en el tiempo establecido para ello. Si no lo hace, todos los dadores recibirán su dinero de vuelta. ¿Por qué funciona así? Para reducir el riesgo de todos. De esta forma, no hay expectativas para que un proyecto se construya (y las recompensas se envíen) sin los suficientes recursos.
h3 ¿Cuánto paga el creador de proyecto?
p
  | Subir un proyecto a UrbanKIT no tiene costo. Ahora, si (y sólo si) el proyecto es exitoso y alcanza la meta, UrbanKIT se quedará con un 7% de los fondos levantados. Además, el sistema de pago cobrará un porcentaje por transacción variable según el sistema de pago escogido por el dador. Esta comisión fluctúa entre el 
  // TEXT TODO
  | 3.57% y el 10%
  | (ver términos y condiciones). Los sistemas de pago dependiendo del país también podrán cobrar comisiones por retiro de dinero. Para más información revisa las página de 
  = link_to "DineroMail", "http://dineromail.com"
  |  y 
  = link_to "PayPal", "http://paypal.com"
  | .

h3 ¿A quién le pertenece la propiedad intelectual del proyecto?
p El proyecto es 100% tuyo.
h3 ¿De dónde viene el dinero para financiar los proyectos?
p Al principio, es importante que convoques a personas conocidas a impulsar tu proyecto- tu familia, amigos, compañeros de trabajo. Si a ellos les gusta, ellos podrán hacer correr la voz, y así atraerás a otros dadores a tu proyecto. Otras personas visitando UrbanKIT verán la energía y emoción que ha generado el proyecto y se sumarán al carro. Una buena idea, bien comunicada, se esparcirá rápidamente.
h3 ¿Cuánto debería solicitar?
p La clave está en entender el alcance de tu proyecto y solicitar lo mínimo necesario para hacer que el proyecto y las recompensas sucedan. Conociendo tus redes, qué tipos de recompensas serían atractivas para estas personas?
h3 ¿Puedo levantar más dinero que la meta establecida?
p ¡Seguro! No hay un límite máximo. Los dadores pueden colaborar hasta los últimos segundo de cumplirse el plazo establecido.
h3 Pero mi idea no es super significativa o ultra asombrosa...¿Puedo subirla a UrbanKIT igual?
p ¡De todas maneras! El proyecto puede ser grande o pequeño, serio o divertido, tradicional o innovador. Si es un proyecto que hace de un barrio un mejor lugar queremos saber de este. Tenemos los brazos abiertos.
h3 ¿Qué tipos de proyectos andan bien?¿Cuál es el secreto?
p El secreto #1 está en mostrar tu pasión por el proyecto además de tu compromiso y energía por hacerlo realidad. Ser totalmente transparente y mostrar tu capacidad para desarrollarlo le siguen de cerca. Y después, tu capacidad para promover el proyecto y hacer correr la voz, especialmente a través de internet, es clave.
