h2 How Crowdfunding Works
h3 The magic formula: awesome rewards
p We believe that the best way to inspire people to boost a project is offering excellent – and creative! – rewards. Everybody loves limited editions, unique things, joyful experiences and feeling part of a placemaking project. Spend some time devising creative rewards and people will get excited by your project.
h3 How does the all-or-nothing part work?
p A project only gets funded if you hit your target by the deadline. If not, all the boosters get their money back. Why does it work like this? To reduce everyone’s risk. This way, there is no expectation that a project is accomplished (and rewards delivered) without enough money.
h3 How much does the project creator pay for this?
p
  | Putting a project on Crowdplaces costs nothing. Now, if (and only if) the project is successful, Crowdplaces takes 7% of the amount raised. In addition, the payment system will charge a fee for the transaction in general between 
  // TEXT TODO
  | 3.57% and X%
  | per transaction (subject to change according to their terms and conditions). The payment systems may also have fees for withdrawing money, depending on the country. For more information, check the websites of  
  = link_to "DineroMail", "http://dineromail.com"
  |  and 
  = link_to "PayPal", "http://paypal.com"
  | .
h3 Who owns the intellectual property of the projects?
p The project is 100% yours.
h3 Where does the money that funds the projects come from?
p At the beginning, it is important that you get people who are already your fans to support your project - your friends, family, co-workers. If they like it, you can get them to help spread the word, you will attract more advocates for your project. People visiting Crowdplaces will see the energy and excitement of the project and get on board.  A good idea, communicated well, will spread quickly.
h3 How much money should I ask for?
p The key is to understand the scope of your project and ask for the minimum necessary to make the project and the distribution of rewards happen. Knowing your network, what kinds of rewards will be attractive to these people?
h3 Can I raise more money than my goal?
p Absolutely! There is no maximum limit. Project boosters can give money until the last seconds of the deadline.
h3 But my idea is not super significant or mind-blowing... Should I still put it on Crowdplaces?
p Of course! The project may be big or small, serious or silly, traditional or innovative. Is it a quick project that you will finish in one week? If it’s a project that makes your neighborhood better, we are open arms.
h3 What kinds of projects do well? What’s the secret?
p The #1 secret is your passion for the project and showing your commitment and energy to making it happen. Full transparency and your ability to run the project are a close second. And then your ability to spread and promote the project, on the internet especially, is absolutely key.
