h3 ¿Cómo puedo apoyar este proyecto?
p Primero, selecciona el monto que quieres dar y la recompensa. Luego presiona 'revisa y termina de efectuar el pago' al inferior de la página para proceder con el pago.
h3 ¿Cuando se hace efectivo el pago?
p Una vez que el sistema de pagos (Paypal o Dineromail) confirme la transacción.
h3 Entonces, ¿Recibiré el dinero de vuelta si el proyecto no alcanza la meta?
p Si el proyecto no alcanza la meta de #{@project.display_goal} el #{@project.display_expires_at}, recibirás tu dinero de vuelta en forma de créditos en Crowdplaces. 
h3 Ok, ¿Pero qué hago si no quiero usar el crédito en Crowdplaces?
p No hay problema. Anda a ‘mi cuenta’ en la esquina superior derecha y luego a ‘mi crédito’ para solicitar la devolución del dinero. Tendrás un máximo de 60 días después desde que realizaste el aporte para solicitar la devolución.
h3 Entonces, ¿Una vez que el proyecto alcanza la meta de financiamiento yo recibo mi recompensa?
p #{link_to @project.user.display_name, user_path(@project.user)}, el creador de proyecto, es responsabilidad de la distribución de las recompensas. Cuando tu recompensa esté lista #{link_to @project.user.display_name, user_path(@project.user)} te contactará para coordinar la entrega.
