h3 How do I support this project?
p First, select the amount you want to give and your reward and click the button on the bottom of the page. Then you can proceed with payment.
h3 When does the payment go through?
p Once the payment gateway confirms the transaction.


// TEXT TODO
h3 So I get the money back if the project does not reach its goal?
p If the project does not reach its goal of #{@project.display_goal} by #{@project.display_expires_at} you get your money back in the form of credit on Crowdplaces to support other projects.

h3 Ok, but what if I don’t want to use the credit on Crowdplaces?
p No problem. Just go to “my account” in the top right corner and then to “my credit” to request the money back within 60 days after your boost.

h3 So once the project is funded, I get my reward?
p It is up to #{link_to @project.user.display_name, user_path(@project.user)}, the project creator, to be clear about when rewards will be delivered. When your reward is ready, #{link_to @project.user.display_name, user_path(@project.user)} will contact you to arrange delivery.
